<div class="mobile-nav-panel">
	<i class="icon-reorder icon-large"></i>
</div>
<header id="header">
	<h1 class="blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>	
	<div style="display:inline-block;float:left;margin:13px 10px;font-size:120%;color:#cd3333;font-weight:bolder;"><%= config.subtitle %></div>
	<nav class="nav">
		<ul>
			<% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>">
			<%if( i==theme.menucount){%>
			<%= i %>(<%= site.posts.length%>)
			<%}else{ %>
			<%= i %>
			<%} %>
			
			
			</a></li><% } %>
			<!--<li><a id="nav-search-btn" class="nav-icon" title="Search"></a></li>-->
			<!--<% if (theme.rss){ %><li><a href="<%- theme.rss %>" id="nav-rss-link" class="nav-icon" title="RSS Feed"></a></li><% } %>-->
				<% if (site.categories.length){ %>
			<% site.categories.sort('name').each(function(item){ %>
  <% if(item.name==theme.categorie1 || item.name==theme.categorie2 || item.name==theme.categorie3){ %>
   <li><a href="<%- config.root %><%- item.path %>"><%= item.name %>(<%= item.posts.length %>)</a></li>
   <%} %>
   
  <% }); %>
  <% } %>
		</ul>
	</nav>

	<div id="search-form-wrap">
		<%- search_form({button: '&#xF002;'}) %>
	</div>
</header>